
#/nic/dyndns?action=edit&started=1&hostname=YES&host_id=user.provider.tld&myip=2003:dd:ebf3:d1fc:956f:9f6f:341f:929d
#/nic/update?system=dyndns&hostname=user.provider.tld&myip=2003:dd:ebf3:d1fc:956f:9f6f:341f:929d


RewriteEngine On

#Diese Zeile ist wichtig für die korrekte Ausführung der RewriteRules
#Sie muss den Basispfad der Webanwendung enthalten; im einfachsten Fall: RewriteBase /
RewriteBase /

#Je nach Einrichtung auf dem lokalen Rechner muss eine Anpassung erfolgen.
RewriteCond %{HTTP_HOST} ^localhost$
RewriteRule . - [E=myRwB:]

RewriteCond %{HTTP_HOST} !^localhost$
RewriteRule . - [E=myRwB:sfsuroombook/]
#%{ENV:myRwB}


#RewriteRule nic/update  /dyndns.php [L,QSA]
#RewriteRule redir/([^/]+)(.*) /dyndns.php?redir=$1&url=$2 [L,QSA]

RewriteRule nic/update  dyndns/ddns-index.php [L,QSA]
RewriteRule redir/([^/]+)(.*) dyndns/ddns-index.php?redir=$1&url=$2 [L,QSA]


RewriteRule ^/?$ /%{ENV:myRwB}AngularJS-Prototype [L,R=301]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule restapi/([^/]+)/([^/]+) /%{ENV:myRwB}restapi/handler.php?objAction=$1&objKey=$1 [L,QSA]
