RewriteEngine On

#Diese Zeile ist wichtig für die korrekte Ausführung der RewriteRules
#Sie muss den Basispfad der Webanwendung enthalten; im einfachsten Fall: RewriteBase /
RewriteBase /

#Je nach Einrichtung auf dem lokalen Rechner muss eine Anpassung erfolgen.
RewriteCond %{HTTP_HOST} ^localhost$
RewriteRule .* - [E=myRWB:]

RewriteCond %{HTTP_HOST} !^localhost$
RewriteRule .* - [E=myRWB:sfsuroombook/]



#RewriteRule nic/update  /dyndns.php [L,QSA]
#RewriteRule redir/([^/]+)(.*) /dyndns.php?redir=$1&url=$2 [L,QSA]

RewriteRule nic/update /%{ENV:myRWB}dyndns/ddns-index.php [L,QSA]
RewriteRule redir/([^/]+)(.*) /%{ENV:myRWB}dyndns/ddns-index.php?redir=$1&url=$2 [L,QSA]



RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule restapi/([^/]+)/?([^/]*) /%{ENV:myRWB}restapi/handler.php?objAction=$1&objKey=$2 [L,QSA]



#Warum nicht mit Pfad; RewriteBase ?!
#RewriteRule ^/sfsuroombook/?$ /%{ENV:myRWB}AngularJS-Prototype [L,R=301]

RewriteRule ^/?$ /%{ENV:myRWB}AngularJS-Prototype [L,R=301]



<If "%{HTTP_HOST} == 'localhost'">
	ErrorDocument 404 "LocalNotFoundError(Index)"
	#RewriteBase /
</If>
<If "%{HTTP_HOST} == 'hsftp.uber.space'">
	ErrorDocument 404 "ProductionNotFoundError(Index)"
	#RewriteBase /sfsuroombook/
</If>
