@import url("http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css");

#bewertung {
    margin-left: 2%;
    border-style: solid;
    width: 50%;
    height: 50%;
    float: left;
}

#ueberschrift-div {
    margin-left: 4%;
    width: 96%;
    height: 20%;
}

#bewertungenListe-div {
    margin-left: 0%;
    width: 100%;
}

#bewertungenListe {
    width: 100%;
}

#bewertungenListe > * {
    justify-content: left;
    width: 100%;
}

#sterne-Liste {
    width: 20%;
}

#kommentar-Liste {
    margin-left: 4%;
    margin-right:4%;
    width: 75%;
    word-wrap: break-word;
}

#sterneKommentar-div {
    width: 100%;
    height: 20%;
}

#sterne-div {
    width: 25%;
    height: 100%;
    float: left;
}

#kommentar-div {
    width: 75%;
    height: 100%;
    float: right;
}

#kommentar {
    height: 100%;
    width: 80%;
}

#bewertung-btn-div {
    margin-top: 2%;
    margin-right: 15%;
    float: right;
}

/*Rahmen um die Sterne unsichtbar machen*/
.sterne {
    border: none;
    float: left;
    margin-left: -4.5%;
}

/*Inputfelder hinter den Sternen unsichtbar machen*/
.sterne > input {
    display: none;
}

/*Sterne darstellen und Stylen*/
.sterne > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;   //Iconsammlung
    display: inline-block;
    content: "\f005";           //Sternenbild
}

/*Hintergrundfarbe der Sterne auf weiß setzen und Reihenfolge richtig setzen*/
.sterne > label {
    color: #ddd;
    float: right;
}

/*Farbe der Sterne (Anklicken und drüberfahren)*/
#sterne > input:checked ~ label,
#sterne:not(:checked) > label:hover,
#sterne:not(:checked) > label:hover ~ label {
    color: gold;
}


