<style>
    #aboutUs{
        margin-left: 20%;
        margin-right: 20%;
    }
</style>

<div id="aboutUs" data-ng-controller="AboutUsCtrl">
    <border>
        <form>
            <div>
                <md-input-container>
                    <h1>About Us</h1>
                    <br>
                    <p>Welcome,</p>
                    <p>we are pleased that you come to visit us on our site, we are</p>
                    <br>
                    <p>- Manuel Schmitt</p>
                    <p>- Michael Iglhaut</p>
                    <p>- Moritz Mrosek</p>
                    <p>- Ramón Wilhelm</p>
                    <p>- Simon Leister</p>
                    <br>
                    <p>We hope that you will feel at home here and find your dream apartment near your university as soon as possible. If you have any questions or suggestions, please contact our customer service (see Contact and Help).</p>
                </md-input-container>
            </div>
        </form>
    </border>
</div>