<h1>Advertise Test</h1>
<form name="wohnungsform" ng-app="studyHomeApp" ng-controller="AdvertiseCtrl">

    <md-input-container>
    <div class="col-sm-12">
        <input type="file"  id="fileinput" name="bilder" aria-label="bilderInput" file-model="bilder" multiple="multiple" class="form-control" required=""/>
    </div>
        <div ng-messages="wohnungsform.pictures.$error">
        <div ng-message="required">This is required!</div>
        </div>
    </md-input-container>

    <md-input-container>
        <div class="col-sm-12">
            <md-button type="submit" ng-click="submit()" class="btn btn-default">Submit</md-button>
        </div>
    </md-input-container>

    <md-input-container>
        <label>Name</label>
        <input type="text" ng-model="preis" required="">
        <div ng-messages="wohnungsform.name.$error">
            <div ng-message="required">This is required!</div>
        </div>
    </md-input-container>

    <md-input-container>
        <label>Rental Fee</label>
        <input type="text" ng-model="name" required="">
        <div ng-messages="wohnungsform.preis.$error">
            <div ng-message="required">This is required!</div>
        </div>
    </md-input-container>

    <md-input-container>
        <label>Postcode</label>
        <input type="text" ng-model="plz" required="">
        <div ng-messages="wohnungsform.plz.$error">
            <div ng-message="required">This is required!</div>
        </div>
    </md-input-container>

    <md-input-container>
        <label>City</label>
        <input type="text" ng-model="ort" required="">
        <div ng-messages="wohnungsform.ort.$error">
            <div ng-message="required">This is required!</div>
        </div>
    </md-input-container>

    <md-input-container>
        <label>Street a. No.</label>
        <input type="text" ng-model="str" required="">
        <div ng-messages="wohnungsform.str.$error">
            <div ng-message="required">This is required!</div>
        </div>
    </md-input-container>

    <md-input-container>
        <label>Distance Meter</label>
        <input type="text" ng-model="entf_meter" required="">
        <div ng-messages="wohnungsform.entf_meter.$error">
        <div ng-message="required">This is required!</div>
        </div>
    </md-input-container>

    <md-input-container>
        <label>Distance Minutes</label>
        <input type="text" ng-model="entf_min" required="">
        <div ng-messages="wohnungsform.entf_min.$error">
        <div ng-message="required">This is required!</div>
        </div>
    </md-input-container>

    <md-input-container>
        <label>Description</label>
        <textarea ng-model="beschr"></textarea>
        </div>
    </md-input-container>

  </form>