<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmation</title>
</head>
<body>
    Congratulation! You have successfully registered your account! You will redirect to the main page in 5 seconds!
    Click on this link to go back to the main page manually:
    <a href="../index.html#!/homeStart">Link</a>
</body>
<script>
    setTimeout(redirectHome, 5000);

    function redirectHome()
    {
        window.location.href = "../index.html#!/homeStart"
    }
</script>
</html>