<style>
    #contactAndHelp{
        margin-left: 20%;
        margin-right: 20%;
    }
</style>

<div id="contactAndHelp" data-ng-controller="ContactAndHelpCtrl">
    <border>
        <form>
            <div>
                <md-input-container>
                    <h1>Contact and Help</h1>
                    <br>
                    <p>If you have any questions, please email us at Mustermail@muster.de or contact our customer service at 0123-456789.</p>
                    <br>
                    <p>Accessible from: </p>
                    <p>Mo-Fr 08:00 - 20:00 Uhr</p>
                    <p>Sa-So 10:00 - 18:30 Uhr</p>
                </md-input-container>
            </div>
        </form>
    </border>
</div>