<div id="details">
    <div layout="row" layout-sm="column">
        <div flex="" data-ng-controller="SliderCtrl" class="details-divs details-top details-top-left">
            <h1 id="slide-show-title">{{name}}</h1>
            <!--            hier ggf noch imagebeschreibung anzeigen!-->
            <slider images="images"/>
        </div>
        <div flex="" class="details-divs details-top details-top-right">
            <md-button class="sh-btn" data-ng-click="contactLessor();">Contact Lessor</md-button>
            <md-list id="right-content">
                <md-list-item class="md-2-line" ng-repeat="item in rightContent">
                    <!--                    <md-checkbox ng-model="item.done"></md-checkbox>-->
                    <div class="md-list-item-text">
                        <h3>{{item.title}}</h3>
                        <p>{{item.description}}</p>
                    </div>
                </md-list-item>
            </md-list>
            <md-button ng-click=favAdd() class="sh-btn">Add To Favourites</md-button>
			<md-select ng-change="meetAdd()" ng-model="user" md-on-open="meetTimes()" style="max-width:200px" placeholder="Click for choosing meeting times...">
				<!--<md-option ng-selected="true" selected="selected"><em>... it's up to you:</em></md-option>-->
				<md-option ng-value="user" ng-repeat="user in users">{{user.slot}}</md-option>
			</md-select>
			<!--
			<p class="md-caption">Selected Meeting Slot: {{ user ? user.slot : 'No one yet' }}</p>
			-->
        </div>
    </div>
    <div layout="row" layout-sm="column" id="bottom-attrs">
        <div flex="" class="details-divs details-bottom">
            <md-list id="bottom-content-1">
                <md-list-item class="md-2-line" ng-repeat="item in bottomContent1">
                    <!--                    <md-checkbox ng-model="item.done"></md-checkbox>-->
                    <div class="md-list-item-text">
                        <h3>{{item.title}}</h3>
                        <p>{{item.description}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </div>
        <div flex="" class="details-divs details-bottom">
            <md-list id="bottom-content-2">
                <md-list-item class="md-2-line" ng-repeat="item in bottomContent2">
                    <!--                    <md-checkbox ng-model="item.done"></md-checkbox>-->
                    <div class="md-list-item-text">
                        <h3>{{item.title}}</h3>
                        <p>{{item.description}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </div>
        <div flex="" class="details-divs details-bottom">
            <md-list id="bottom-content-3">
                <md-list-item class="md-2-line" ng-repeat="item in bottomContent3">
                    <!--                    <md-checkbox ng-model="item.done"></md-checkbox>-->
                    <div class="md-list-item-text">
                        <h3>{{item.title}}</h3>
                        <p>{{item.description}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </div>
        <div flex="" class="details-divs details-bottom">
            <md-list id="bottom-content-4">
                <md-list-item class="md-2-line" ng-repeat="item in bottomContent4">
                    <!--                    <md-checkbox ng-model="item.done"></md-checkbox>-->
                    <div class="md-list-item-text">
                        <h3>{{item.title}}</h3>
                        <p>{{item.description}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </div>
    </div>
    <div id="bottom-text">
        <p id="estate-text">
            {{beschr}}
        </p>
    </div>
    <div id="bewertung">
        <div id="ueberschrift-div">
            <h1>Rate the tenant</h1>
        </div>
        <div id="sterneKommentar-div">
            <div id="sterne-div">
                <fieldset id="stars" class="stars">
                    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5"></label>
                    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4"></label>
                    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3"></label>
                    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2"></label>
                    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1"></label>
                </fieldset>
            </div>
            <div id="kommentar-div">
            <textarea id="kommentar" name="btn-input" maxlength="600" wrap="soft"
                      placeholder="Write your message here..." required></textarea>
            </div>
        </div>
        <div id="bewertung-btn-div">
            <md-button class="login-btn" type="submit" id="bewertung-btn" onClick="alert('Anzahl Sterne: ' + GetRating());">
                Send
            </md-button>
        </div>
    </div>
</div>

