<style>
    #favouriten-name {
        width: 40%;
    }
</style>


    <div id="tenantSidenavCont">
        <div id="tenantSidenav" data-ng-include="'Views/tenantSidenav.html'">{{rolle}}Sidenav.html</div>
    </div>


<div class="favourites">
    <md-list ng-cloak id="searchList">
        <h3>Favourites</h3>
        <md-list-item ng-repeat="item in searchItems" ng-click="goToDetails(item.id, $event)" class="noright">
            <img alt="{{ item.alt }}" ng-src="{{ item.img }}" class="search-item-img" />
            <p id="favouriten-name">{{item.name}}</p>
            <p>{{item.entf_meter}}</p>
            <p>{{item.entf_min}}</p>
            <p>{{item.price}}</p>
        </md-list-item>
    </md-list>
</div>