<div id="homeStart">
    <img class="homeStart-backgroundPic" src="../AngularJS-Prototype/images/normal/00001-sfs-abw-fd-hef.jpg" alt="background"/>
    <md-input-container class="homeStart-container">
        <div class="homeStart-input">
            <input type="search" name="startSearch" value=""
                   placeholder="Type any search value... We're hoping to match your request..." ng-model="startSearch">
        </div>
        <div class="homeStart-btn">
            <a href="./index.html#!/home" onlcick="return setSearchKey();" id="" class="nav-item-menu">
                <i class="fa fa-search" onclick="setSearchKey()"></i>
            </a>
        </div>
    </md-input-container>
</div>