<style>
    body, #homeStart {
        background-color: #b6dbe6;
    }
</style>

<div id="homeStart">
    <!--Src sucht vom Ordner aus, indem die index.html drinnen ist. (AngularJS-Prototpye)-->
    <img class="homeStart-backgroundPic" src="images/normal/00001-sfs-abw-fd-hef.jpg" alt="background"/>
    <div class="homeStart-containerBorder">
    <md-input-container class="homeStart-container">
        <div class="homeStart-input">
            <input type="search" name="startSearch" value=""
                   placeholder="Type any search value..." ng-model="startSearch">
        </div>
        <div class="homeStart-btn">
            <a href="./index.html#!/home" onlcick="return setSearchKey();" id="" class="nav-item-menu">
                <i class="fa fa-search" onclick="setSearchKey()"></i>
            </a>
        </div>
    </md-input-container>
    </div>
</div>