
<div id=home>
   <!--
<md-input-container>
    <label>Search</label>
    <input type="text" data-ng-model="search">
</md-input-container>
<md-button>Search</md-button>

<md-slider-container>
    <label>Preis</label>
    <md-slider min="0" max="1000" ng-model="estate.preis" aria-label="preis" id="preis-slider">
    </md-slider>
    <md-input-container>
        <input type="number" ng-model="estate.preis" aria-label="Preis" aria-controls="preis-slider">
    </md-input-container>
</md-slider-container>

<div layout="row" layout-sm="column">
    <div flex="">
        I'm above on mobile, and to the left on larger devices.
    </div>
    <div flex="">
        I'm below on mobile, and to the right on larger devices.
    </div>
</div>
-->
   <div id="search">
       <div id="filtermenu">
           <form id="searchForm" ng-submit="submitSearchForm();">
               <fieldset>
                   <legend>FullText-Search</legend>
                   <input type="search" name="appsearch[fulltext]" value="" placeholder="Type any search value... We're hoping to match your request..." ng-model="searchFormData.fulltext">
               </fieldset>
               <fieldset><legend>Distance to Campus (Meter)</legend>
                    <input type="number" name="appsearch[distmeter][Min]" value="" placeholder="Min" ng-model="searchFormData.distmeterMin">
                   <input type="number" name="appsearch[distmeter][Max]" value="" placeholder="Max" ng-model="searchFormData.distmeterMax">
               </fieldset>
               <fieldset>
                   <legend>Distance to Campus (Minutes by <abbr title="Low-Range Personal Traffic">LPT</abbr>)</legend>
                   <input type="number" name="appsearch[distopnv][Min]" value="" placeholder="Min" ng-model="searchFormData.distopnvMin">
                   <input type="number" name="appsearch[distopnv][Max]" value="" placeholder="Max" ng-model="searchFormData.distopnvMax">
               </fieldset>
               <fieldset>
                   <legend>Price / Week</legend>
                   <input type="number" name="appsearch[price][Min]" value="" placeholder="Min" ng-model="searchFormData.priceMin">
                   <input type="number" name="appsearch[price][Max]" value="" placeholder="Max" ng-model="searchFormData.priceMax">
               </fieldset>
               <fieldset>
                   <legend>Filter...</legend>
                   <input type="submit" value="Show Me ResultSet">
               </fieldset>
           </form>
       </div>
   </div>

<!--    List Items-->

    <md-list ng-cloak id="searchList">
        <md-subheader class="md-no-sticky">Search Items</md-subheader>
        <md-list-item ng-repeat="item in searchItems" ng-click="goToDetails(item.id, $event)" class="noright">
            <img alt="{{ item.alt }}" ng-src="{{ item.img }}" class="search-item-img" />
            <p>{{item.name}}</p>
            <p>{{item.price}}</p>
            <p>{{item.surface}}</p>
<!--            <md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>-->
<!--            <md-icon md-svg-icon="communication:email"  ng-click="doSecondaryAction($event)" aria-label="Send Email" class="md-secondary md-hue-3" ></md-icon>-->
<!--            <md-icon class="md-secondary" ng-click="contactLessor($event)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>-->
        </md-list-item>
    </md-list>

</div>