<style>
    #impressum{
        margin-left: 20%;
        margin-right: 20%;
        padding-bottom: 15%;
    }
</style>

<div id="impressum" data-ng-controller="ImpressumCtrl">
    <border>
        <form>
            <div>
                <md-input-container>
                    <h1>Impressum</h1>
                    <br>
                    <p>operator and publisher of https://hsftp.uber.space/sfsuroombook/ is:</p>
                    <br>
                    <h3>Address:</h3>
                    <p>Study Home GmbH</p>
                    <P>Leipziger Str. 123</P>
                    <p>36037 Fulda</p>
                    <br>
                    <h3>Managing Director: </h3>
                    <p>Manuel Schmitt, Michael Iglhaut, Moritz Mrosek, Ramón Wilhelm, Simon Leister</p>
                    <br>
                    <h3>Register entry:</h3>
                    <p>Entry in the Register Court: Musterstadt</p>
                    <br>
                    <h3>Register number:</h3>
                    <p>12345</p>
                    <br>
                    <h3>Value added tax ID:</h3>
                    <p>Value added tax identification number according to §27a Value Added Tax Act: 12345</p>
                    <br>
                    <h3>Economic ID:</h3>
                    <p>12345</p>
                    <br>
                    <h3>Regulatory authority:</h3>
                    <p>Model Supervision Model City</p>
                </md-input-container>
            </div>
        </form>
    </border>
</div>