<style>
    body, #login {
        background-color: #b6dbe6;
    }

    .login-border
    {
        margin-top: 50px;
    }
</style>

<div id="login">
    <border class="login-border">
        <form class="login-form">
            <div>
                <md-input-container class="login-title">
                    <h1>Login</h1>
                </md-input-container>
            </div>
            <div class="login">
                <md-input-container style="margin-right: 10px;">
                    <label>Roll</label>
                    <md-select id="acc-type" required="" ng-model="loginrolle">
                        <md-option ng-selected="true" value="Tenant">Tenant</md-option>
                        <md-option value="Lessor">Lessor</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>E-Mail</label>
                    <input id="email" required type="email" name="email" ng-model="email" ng-pattern="/^[a-z0-9]*\.[a-zA-Z0-9]*@(\b(informatik)\b|\b(cs)\b)\.\b(hs)\b\-\b(fulda)\b\.\b(de)\b/"
                           placeholder="Max.Mustermann@informatik.hs-fulda.de">
                    <!--<div ng-messages="login-form.login.md-block.email.$error" role="alert">
                        <div ng-message="['required', 'pattern']">
                            Your E-Mail must look like a valid E-Mail address.
                        </div>
                    </div>-->
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Password</label>
                    <input id="passwort" required="" type="password" name="passwort" ng-model="pwort" placeholder="••••••••">
                </md-input-container>
                <md-button type="submit" class="login-btn" ng-click="login()">
                    Login
                </md-button>
                <md-input-container class="md-block">
                    <a href="#">Forgot Password?</a>
                </md-input-container>
            </div>
            <div class="registrieren">
                <md-input-container>
                    <h3>Create new User</h3>
                </md-input-container>
            </div>
            <md-button class="login-btn" ng-click="goto('/register')" name="{{routes.page4}}" type="submit">
                Register
            </md-button>
        </form>
    </border>
</div>
