<div id="login">
    <form name="loginForm">
        <main>
            <border class="border">
                <form>
                    <div class="title">
                        <h1>Login</h1>
                    </div>
                    <div class="login">
                        <div class="text">E-Mail</div>
                        <input size="24" maxtype="text" name="email" placeholder="M.M@informatik.hs-fulda.de"><br><br>
                        <div class="text">Passwort</div>
                        <input size="25" type="password" name="passwort"><br><br>
                        <input class="button" type="submit" name="login" value="Login"><br>
                        <a href="#">Passwort vergessen?</a><br>
                    </div>
                    <div class="registrieren">
                        <div class="text">Neuer User</div>
                        <input class="button" type="submit" name="registrieren" value="Registrieren"><br>
                    </div>	
                </form>
            </border>
        </main>
    </form>
</div>

