<div id="login">
        <main class="login-main">
            <border class="login-border">
                <form class="login-form">
                    <div class="title">
                        <h1>Login</h1>
                    </div>
                    <div class="login">
                        <div class="text">E-Mail</div>
                        <input size="25" maxtype="text" name="email" placeholder="M.M@informatik.hs-fulda.de"><br><br>
                        <div class="text">Password</div>
                        <input size="25" type="password" name="passwort"><br><br>
                        <input class="button" type="submit" name="login" value="Login"><br>
                        <a href="#">Forgot Password?</a><br>
                    </div>
                    <div class="registrieren">
                        <div class="text">New User</div>
                        <md-button md-nav-click="goto('/register')" name="{{routes.page2}}">Register</md-button>
                       <!-- <input class="button" type="submit" name="registrieren" value="Register"><br>-->
                    </div>	
                </form>
            </border>
        </main>
</div>

