<!DOCTYPE html>
<html>
	<head>
		<title>Messages</title>
		<meta charset="utf8" />
	</head>
<div id="messagePage">
    <div id="chat">
        <div id="contacts">
                <p><button class="contactButton" name="sendButton">Example Contact 1</button></p>
                <p><button class="contactButton" name="sendButton">Example Contact 2</button></p>
        </div>
        <div id="messages">
            <div id="textBox">

            </div>
            <div>
                <input id="btn-input" type="text" size="70" class="form-control input-sm chat_input" placeholder="Write your message here..." />
                <button class="button" name="sendButton">Send</button>
            </div>
        </div>
    </div>
</div>
</html>