<!--<style>


    @media only screen and (max-width: 660px) {
        .message-form {
            display: block;
        }

        h1 {
            margin-top: 50px;
        }

        .contacts {
            display: block;
            border-right-style: none;
            width: 100%;
        }
    }

    h1
    {
        text-align: center;
        padding-bottom: 30px;
    }
</style>-->

<div id="messages" data-ng-controller="MessagesCtrl">
    <border class="message-border">
        <h1>Messages</h1>
        <form class="message-form">
            <div class="contacts">
                <p>
                    <md-button class="contactButton" name="sendButton">Example Contact 1</md-button>
                </p>
                <p>
                    <md-button class="contactButton" name="sendButton">Example Contact 2</md-button>
                </p>
                <p>
                    <md-button class="contactButton" name="sendButton">Example Contact 3</md-button>
                </p>
            </div>
            <div class="input">
                    <textarea id="m_area_id" name="btn-input" maxlength="600" wrap="soft"
                              placeholder="Write your message here..."></textarea>
                <md-button class="message-btn" type="submit">
                    Send
                </md-button>
            </div>
        </form>
    </border>
</div>