
<div id="lessorSidenavBorder">
    <div id="lessorSidenavCont">
        <div id="lessorSidenav" data-ng-include="'Views/lessorSidenav.html'">{{rolle}}Sidenav.html</div>
    </div>
</div>
<div id="tenantSidenavBorder">
    <div id="tenantSidenavCont">
        <div id="tenantSidenav" data-ng-include="'Views/tenantSidenav.html'">{{rolle}}Sidenav.html</div>
    </div>
</div>

<div id="myDataPage">
    <!--tipp für weiteres deven: repeat directiven von angularjs nutzen um derartige tables zu machen, ist mega ez-->
    <!--am ende werden die daten dann immer (in einer fctn im controller scope) mit $http gefetcht vom server und -->
    <!--nem json obj oder so zugewisen, das man dann in den directiven benutzen kann, um ein tabelle dynamisch zu erstellen-->

    <h3>My Data</h3>
    <img src="./benutzerbild" height="130px" width="192px" alt="Here could be a picture of you."/>
    <div id="dataTable">
        <table>
            <tr>
                <td class="myData-festeVar">Role</td>
                <td class="myData-loseVar" id="tablerole" ng-model="tableRole"></td>
            </tr>

            <tr>
                <td class="myData-festeVar">Salutation</td>
                <td class="myData-loseVar" id="tablesalute" ng-model="tableSalutation"></td>
            </tr>

            <tr>
                <td class="myData-festeVar">First Name</td>
                <td class="myData-loseVar" id="tablevname" ng-model="tableFirstName">{{$scope.vname}}</td>
            </tr>

            <tr>
                <td class="myData-festeVar">Last Name</td>
                <td class="myData-loseVar" id="tablenname" ng-model="tableLastName"></td>
            </tr>

            <tr>
                <td class="myData-festeVar">E-Mail</td>
                <td class="myData-loseVar" id="tableemail" ng-model="tableEmail"></td>
            </tr>

            <tr>
                <td class="myData-festeVar">Birth Date</td>
                <td class="myData-loseVar" id="tablebirthdate" ng-model="tableBirthDate"></td>
            </tr>
        </table>
    </div>
    <div id="editBtn">
        <md-button class="login-btn" id="editDataBtn" name="edit" ng-click="editData()">Edit Password</md-button>
        <div id="succesText"></div>
    </div>

    <div id="myDataOutput">
        <h3>Change Password</h3>
        <p class="myData-input">
            <md-input-container>
                <input id="oldPw" placeholder="Old Password" type="password" ng-model="oldPw">
            </md-input-container>
        </p>
        <p class="myData-input">
            <md-input-container>
                <input id="newPw" placeholder="New Password" type="password" ng-model="newPw">
            </md-input-container>
            <md-input-container>
                <input id="repeatPw" placeholder="Repeat Password" type="password" ng-model="repeatPw">
            </md-input-container>
        </p>
        <p>
            <div id="notEqualText"></div>
            <md-button class="login-btn" name="send" ng-click="sendData()">Send</md-button>
        </p>
    </div>
</div>