
<div id="lessorSidenavBorder">
    <div id="lessorSidenavCont">
        <div id="lessorSidenav" data-ng-include="'Views/lessorSidenav.html'">{{rolle}}Sidenav.html</div>
    </div>
</div>
<div id="tenantSidenavBorder">
    <div id="tenantSidenavCont">
        <div id="tenantSidenav" data-ng-include="'Views/tenantSidenav.html'">{{rolle}}Sidenav.html</div>
    </div>
</div>

<div id="myDataPage">
    <!--tipp für weiteres deven: repeat directiven von angularjs nutzen um derartige tables zu machen, ist mega ez-->
    <!--am ende werden die daten dann immer (in einer fctn im controller scope) mit $http gefetcht vom server und -->
    <!--nem json obj oder so zugewisen, das man dann in den directiven benutzen kann, um ein tabelle dynamisch zu erstellen-->


    <img src="./benutzerbild" height="130px" width="192px" alt="Here could be a picture of you."/>
    <div id="dataTable">
        <table>
            <tr>
                <td class="myData-festeVar">Role</td>
                <td class="myData-loseVar"></td>
            </tr>

            <tr>
                <td class="myData-festeVar">Salutation</td>
                <td class="myData-loseVar"></td>
            </tr>

            <tr>
                <td class="myData-festeVar">First Name</td>
                <td class="myData-loseVar"></td>
            </tr>

            <tr>
                <td class="myData-festeVar">Last Name</td>
                <td class="myData-loseVar"></td>
            </tr>

            <tr>
                <td class="myData-festeVar">E-Mail</td>
                <td class="myData-loseVar"></td>
            </tr>

            <tr>
                <td class="myData-festeVar">Birth Date</td>
                <td class="myData-loseVar"></td>
            </tr>
        </table>
    </div>
    <md-button class="login-btn" name="edit">Edit</md-button>
</div>