<div id="myDataPage">
    <!--tipp für weiteres deven: repeat directiven von angularjs nutzen um derartige tables zu machen, ist mega ez-->
    <!--am ende werden die daten dann immer (in einer fctn im controller scope) mit $http gefetcht vom server und -->
    <!--nem json obj oder so zugewisen, das man dann in den directiven benutzen kann, um ein tabelle dynamisch zu erstellen-->
    <img src="./benutzerbild" height="130px" width="192px"/>
    <div id="dataTable">
        <table>
            <tr>
                <td>Prename</td>
                <td>Max</td>
            </tr>

            <tr>
                <td>Lastname</td>
                <td>Mustermann</td>
            </tr>

            <tr>
                <td>E-Mail</td>
                <td>Max.Mustermann@Fachbereich.hs-fulda.de</td>
            </tr>

            <tr>
                <td>Max. Rent</td>
                <td>500€</td>
            </tr>

            <tr>
                <td>Size</td>
                <td>70 cm&sup2;</td>
            </tr>

            <tr>
                <td>Rooms</td>
                <td>2</td>
            </tr>
        </table>
    </div>
    <button class="button" name="edit">Edit</button>
</div>
