<div id="register">
    <main class="registrieren-main">
            <border class="registrieren-border">
                <form class="registrieren-form">
                    <div class="title">
                        <h1>Register</h1>
                    </div>
                    <div class="registrieren">
                        <div class="zeile">
                            <div>
                                <div class="text">Prename</div>
                                <input class="linkesElement" size="25" maxtype="text" name="vorname" placeholder="Max">
                            </div>
                            <div>
                                <div class="text">Lastname</div>
                                <input size="25" maxtype="text" name="nachname" placeholder="Mustermann">
                            </div>
                        </div>
                        <div class="zeile">
                            <div>
                                <div class="text">Password</div>
                                <input class="linkesElement" size="25" type="password" name="passwort">
                            </div>
                            <div>
                                <div class="text">Repeat Password</div>
                                <input size="25" type="password" name="passwortWiederholen">
                            </div>
                        </div>
                        <div class="zeile">
                            <div>
                                <div class="text">E-Mail</div>
                                <input class="linkesElement" size="25" maxtype="text" name="email" placeholder="M.M@informatik.hs-fulda.de">
                            </div>
                            <div>
                                <div class="text">Birth Date</div>
                                <input size="25" maxtype="text" name="geburtsdatum" placeholder="09.09.1999">
                            </div>
                        </div>
                    </div>
                    <div class="buttonPosition">
                        <input class="button" type="submit" name="bestätigen" value="Submit">
                    </div>
                </form>
            </border>
        </main>
</div>
