<style>
    body, #register {
        background-color: #b6dbe6;
    }

    .registrieren-border
    {
        margin-top: 50px;
    }
</style>

<div id="register" data-ng-controller="RegisterCtrl">
    <border class="registrieren-border">
        <form id="regForm" class="registrieren-form">
            <div>
                <md-input-container class="registrieren-title">
                    <h1>Register</h1>
                </md-input-container>
            </div>
            <div class="registrieren">
                <md-content layout-padding="">
                    <div layout-gt-xs="row">
                        <div name="registrieren-block" class="md-block" flex-gt-sm="">
                            <md-input-container style="margin-right: 10px;">
                                <label>Roll</label>
                                <md-select id="acc-type" required="" ng-model="rolle">
                                    <md-option ng-repeat="rolle in rollen" value="{{rolle}}">{{rolle}}</md-option>
                                </md-select>
                            </md-input-container>
                            <!--<label>Art</label><br>
                            <select id="acc-type" required="" type="text" name="registry[account]" ng-model="registryForm.account">
                                <option value="lessor">Lessor</option>
                                <option value="tenant">Tenant</option>
                            </select>-->
                        </div>
                        <div class="md-block" flex-gt-sm="">
                            <md-input-container style="margin-right: 10px;">
                                <label>Salutation</label>
                                <md-select id="p-title" required="" ng-model="anrede">
                                    <md-option ng-repeat="anrede in anreden" value="{{anrede}}">{{anrede}}</md-option>
                                </md-select>
                            </md-input-container>
                            <!--<label>Anrede</label><br>
                            <select id="p-title" required="" type="text" name="registry[title]" ng-model="registryForm.title">
                                <option value="m">M</option>
                                <option value="f">F</option>
                            </select>-->
                        </div>
                    </div>
                    <div layout-gt-xs="row">
                        <md-input-container name="registrieren-block" class="md-block" flex-gt-sm="">
                            <label>First Name</label>
                            <input id="prename" required="" type="text" name="registry[prename]" ng-model="registryForm.prename" placeholder="Max">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Last Name</label>
                            <input id="lastname" required="" type="text" name="registry[lastname]" ng-model="registryForm.lastname" placeholder="Mustermann">
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Password</label>
                            <input id="password" required="" type="password" name="registry[passwort]" ng-model="registryForm.passwort" placeholder="••••••••">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Repeat Password</label>
                            <input id="repeatPassword" required="" type="password" name="registry[repeatPasswort]" ng-model="registryForm.repeatPasswort" placeholder="••••••••">
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>E-Mail</label>
                            <input id="email" required="" type="email" name="registry[email]" ng-model="registryForm.email"
                                   ng-pattern="/^.+@\b(\w*hs\w*)\b\-\b(\w*fulda\w*)\b\.\b(\w*de\w*\b)/" placeholder="Max.Mustermann@informatik.hs-fulda.de">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Birth Date</label>
                            <input id="birthDate" required="" type="date" name="registry[birthDate]" ng-model="registryForm.birthDate" placeholder="09.09.1999">
                        </md-input-container>
                    </div>
                </md-content>
                <div class="col-sm-12">
                    <p>Image upload for profile</p>
                    <md-input-container>
                        <input type="file"  id="fileinput" name="bilder" aria-label="bilderInput" file-model="bilder" multiple="multiple" class="form-control" required=""/>
                    </md-input-container>
                </div>
                <md-button type="submit" class="registrieren-btn" ng-click="register()">
                    Submit
                </md-button>
            </div>
        </form>
    </border>
</div>